.pricing__section {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  margin-right: auto;
  margin-left: auto;
}

.pricing__container-card {
  background-color: #474a69;
  color: #fff;
  text-align: center;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 320px;
  height: 300px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px;
  margin: 25px;
  border-radius: 10px;
}

.pricing__container-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}

.pricing__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pricing__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
}

.pricing__heading {
  color: #1c2237;

  margin: 0 auto 24px;
}

.pricing_container-cardInfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: #fff;
}

.pricing__contianer-cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.pricing__container-cardInfo h4 {
  font-size: 30px;
  margin-bottom: 34px;
}

.pricing__container-cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
}

.pricing__container-features {
  margin: 16px 0 32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__container-features li {
  margin-bottom: 10px;
}

.icon {
  margin: 24px 0;
}

@media screen and (max-widht: 960px) {
  .pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }

  .pricing__container-card {
    width: 100%;
  }
  .pricing__wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .pricing__container-card:hover {
    transform: none;
  }
}

a {
  color: #2c2f4e;
}

@media only screen and (max-width: 600px) {
  .pricing__heading {
    padding: 0 30px;
  }
}
